@font-face {
    font-family: 'Phone_book_font';
    src: url('./Fonts/Palmore.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url('./images/Palm_Tree_BG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
}


header {
    background-color: rgba(43, 39, 39, 0.306);
    color: #fff;
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 300%;
    font-family: 'Phone_book_font', sans-serif;
}

.phone_book {
    background-color: rgba(255, 255, 255, 0.6);
    padding-bottom: 1%;
    padding-top: 15px;
    min-height: 500px;
    
}

.pb_window {
    background-color: rgba(147, 135, 135, 0.35);
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 10%;
    min-height: 400px;
}

footer {
    height: 50px;
    background-color: #33333356;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer p {
    height: 50px;
    background-color: #33333356;
    color: #fff;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.top_container
{
    margin-bottom: 5%;
}

.contact_div 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #33333349;
    outline: 2px solid rgb(127, 236, 230);
    padding: 15px 15px 15px 15px
}

.contact_div_top
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #33333349;
    outline: 2px solid rgb(127, 236, 230);
    padding: 15px 15px 15px 15px
}

.contact_div:hover
{
    background-color: rgb(78, 183, 183);
}

.contact_div_top:hover
{
    background-color: rgba(38, 31, 31, 0.491);
}

.contact_image {
    border-radius: 50%;
    justify-content: center;
    flex: 0.2;
}

.contact_image img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid rgb(244, 227, 39);
}

.contact_info {
    display: flex;
    flex: 2;
    padding-left: 20px;
}

.contact_buttons {
    display: flex;
    margin-right: 1%;
    gap: 10px;
    flex: 0.4;
    justify-content: flex-end;
}

.contact_buttons button 
{
    border:none;
    background:none;
    cursor:pointer;
}

.contact_buttons img 
{
    height: 45px;
}

.top_bar_icons
{
    margin-right: 1.5%;
}
.top_bar_icons img
{
    height: 35px;
}

.top_bar_icons button 
{
    border:none;
    background:none;
    cursor:pointer;
}

.full-screen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100; 
}

.hidden_class
{
    display: none;
}

.popup_window
{
    justify-self: center;
    background-color: white;
    width: 550px;
    height: 300px;
    z-index: 200;
    position: fixed;
    align-items: center;
    display: flex;
    left: 50%;
    right: 50%;
    bottom: 30%;
    
}


.popup-content form
{
    font-size: large;     
    width: 20%;
}



.hover-effect:hover {
    transform: scale(1.2);
}

.infobox button
{
    border:none;
    background:none;
    cursor:pointer;
}